# To ignore temp file without extension:
# 1. Ignore all
*
# 2. Unignore all files with extensions
!*.*
# 3. Unignore all dirs
!*/

# Ignore output files
*.o
# Ignore work files
work-*.cf
# Ignore waves files
*.ghw

# Ignore Latex temp files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex.gz
*_temp.tex
*.idx
*.ilg
*.ind
*.dvi